/*body {
  background-image: linear-gradient(to right, red, rgb(27, 219, 178));
}*/
 body {
  background-image: linear-gradient(to left, #2196f3, #e91e63);
} 
header {
  position: relative;
  max-width: 100%;
  padding: 10px;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.logo {
  color: #069370;
  height: 60px;
  font-size: 36px;
  text-decoration: none;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
}
nav {
  float: right;
}
.clearfix {
  clear: both;
}
nav button {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  border: none;
}
nav button {
  list-style: none;
  padding: 10px 20px;
  color: #262626;
  background-color: #fff;
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
.active,
nav button:hover {
  background: #069370;
  color: #fff;
  transition: 0.5s;
  pointer-events: stroke;
}
